body {
    font-family: 'Noto Sans', sans-serif;
    background-color: tomato;
}

table {
    border-collapse: collapse;
}

table, th {
    text-align: center;
}

table, th, td{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}